@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap");
body {
  background-color: #797979; }
  body a {
    color: #FFFFFF;
    text-decoration: none; }
  body a:hover {
    color: #ff0000; }
  body h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 26px; }
  body h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 18px; }
  body h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px; }
  body p {
    font-family: "Poppins", sans-serif;
    color: #FFFFFF;
    font-family: 500;
    font-size: 12px; }
  body .c1 img {
    width: 120px; }
  body .c1 span p {
    padding-top: 10px;
    color: #797979;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 16px; }
  body .c2 img {
    width: 38px;
    margin-left: 12px; }
  body .c2 button {
    margin-left: 10px;
    margin-top: 3px; }
  body .c3 img {
    width: 38px;
    margin-left: 12px; }
  body .c3 p {
    padding: 0 0 0 20px; }
  body .c4 img {
    width: 36px; }
  body .c4 .instagram {
    min-width: 38px;
    background-image: url("../media/instagram.png") no-repeat; }
  body .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #222222;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s; }
  body .social-links a:hover {
    background: #ff0000;
    color: #FFFFFF;
    text-decoration: none; }
  body .social-links img {
    width: 14px;
    margin-bottom: 3px; }
  body #slide {
    margin-top: 64px; }
    body #slide .slide {
      padding: 5px 0px; }
      body #slide .slide img {
        border-radius: 5px; }

#contenedor {
  background-image: url(../media/bg-body.jpg);
  background-size: cover; }

#industria {
  margin-top: 10px;
  margin-bottom: 10px; }
  #industria img {
    border-radius: 5px;
    width: 100%; }
  #industria button {
    width: 50%; }
  #industria .productos {
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center; }
    #industria .productos p {
      color: #000000;
      font-size: 14px; }
    #industria .productos .productosBox {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    #industria .productos ul {
      list-style: none; }
  #industria .servicios {
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #industria h2 {
    padding-top: 12px;
    padding-bottom: 5px;
    line-height: 16px; }

#servicios {
  background-image: url(../media/bck.png);
  background-size: cover; }
  #servicios img {
    border-radius: 5px;
    width: 100%; }
  #servicios button {
    width: 50%; }
  #servicios .productos {
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center; }
    #servicios .productos p {
      color: #000000;
      font-size: 14px; }
    #servicios .productos .productosBox {
      display: flex;
      flex-direction: column;
      justify-content: center; }
    #servicios .productos ul {
      list-style: none; }
  #servicios .servicios {
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #servicios h2 {
    padding-top: 12px;
    padding-bottom: 5px;
    line-height: 16px; }

#productos img {
  border-radius: 5px; }

#productos .productos {
  background-color: #FFFFFF;
  border-radius: 5px;
  text-align: center; }
  #productos .productos p {
    color: #000000;
    font-size: 14px; }
  #productos .productos .productosBox {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #productos .productos ul {
    list-style: none; }

#productos .servicios {
  background-color: #000000;
  text-align: center;
  color: #FFFFFF;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#productos h2 {
  padding-top: 12px;
  line-height: 16px; }

#productos button {
  height: 25px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

#productos a {
  text-decoration: none; }

#distinciones {
  background-color: #FFFFFF; }
  #distinciones .card {
    border: none; }
    #distinciones .card img {
      height: 60px;
      margin: 20px auto 0px auto; }
    #distinciones .card h4 {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      line-height: 20px; }
    #distinciones .card p {
      font-family: "Poppins", sans-serif;
      color: #000000;
      font-size: 14px;
      text-align: center; }

#comunicate {
  background-color: #E02220; }
  #comunicate img {
    width: 100%;
    border-radius: 5px;
    margin: 10px 0px; }

#destacados {
  background-image: url(../media/bck.png);
  background-size: cover;
  padding: 10px 0px; }
  #destacados h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center; }

#nosotros {
  background-color: #ff0000;
  color: #FFFFFF; }
  #nosotros p {
    font-size: 14px; }
  #nosotros img {
    border-radius: 5px; }
  #nosotros .box {
    background-color: #FFFFFF;
    height: 80px;
    border-radius: 5px; }

#marcas {
  background-color: #FF3333;
  padding: 10px 0px; }
  #marcas img {
    border-radius: 5px; }

#mapa {
  height: 450px; }

footer {
  background-color: #000000;
  background-image: url(../media/footer-bg.png); }
  footer h3 {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-weight: 600; }
  footer hr {
    background-color: #ff0000;
    width: 200px;
    margin-left: 0%; }

#contacto {
  background-color: #ff0000;
  color: #FFFFFF; }
  #contacto img {
    border-radius: 5px; }
  #contacto p {
    font-size: 18px; }

#wa a img {
  width: 60px;
  position: fixed;
  bottom: 200px;
  right: 30px; }

.pf {
  font-size: 12px;
  font-weight: 400;
  color: #797979; }

.tf {
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF; }

.pfb {
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF; }

@media only screen and (max-width: 768px) {
  .mxs {
    margin-top: 10px; }
  #distinciones {
    background-color: #797979; }
    #distinciones .card {
      border: none; }
      #distinciones .card img {
        height: 60px;
        margin: 20px auto 0px auto; }
      #distinciones .card h4 {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        line-height: 20px; }
      #distinciones .card p {
        display: none; } }
