body{
    background-color: $gris;
    a{
        color:$blanco;
        text-decoration: none;
    }
    a:hover{
        color: $rojo;
    }
    h1{
        font-family: $poppins;
        font-weight: 600;
        font-size: 26px;
    }
    h2{
        font-family: $poppins;
        font-weight: 800;
        font-size: 18px;        
    }
    h3{
        font-family: $poppins;
        font-weight: 400;
        font-size: 16px;    
    }
    p{
        font-family: $poppins;
        color: $blanco;
        font-family: 500;
        font-size: 12px;
    }
    .c1{
        img{
            width: 120px;
        }
        span{      
            p{
                padding-top: 10px;
                color: $gris;
                font-family: $poppins;
                font-weight: 900;
                font-size: 14px;
                line-height: 16px;            
            }        
        }
    }
    .c2{
        img{            
            width: 38px;
            margin-left: 12px;
        }
        button{
            margin-left: 10px;
            margin-top: 3px;    
        }
    }
    .c3{
        img{            
            width: 38px;
            margin-left: 12px;
        }
        p{              
            padding: 0 0 0 20px;
        }    
    }
    .c4{
        img{
            width: 36px;
        }
        .instagram{
            min-width: 38px;
            background-image: url("../media/instagram.png") no-repeat;
            
        }
    }
    .social-links2{
        display: none;
    }
    .social-links {
        a {
            font-size: 18px;
            display: inline-block;
            background: $gris;
            color: #fff;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 4px;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
        }
        a:hover {
            background: $rojo;
            color: $blanco;
            text-decoration: none;
        }
        img{
            width: 14px;
            margin-bottom: 3px;
        }
    }
    #slide{
        margin-top: 64px;
        
        .slide{
            padding: 5px 0px;
            img{
                border-radius: 5px;
            }
        }
    }    
    
}

#contenedor{
    background-image: url(../media/bg-body.jpg);
    background-size: cover;
    
}

#industria{ 
    padding-bottom: 10px;
 
    img{
        border-radius: 5px;
        float: left;               
    }
    button{
        width: 50%;        
    }
    .productos{
        background-color: $blanco;
        border-radius: 5px;
        text-align: center;
        p{
            color: $negro;
            font-size: 14px;
        }      
        .productosBox{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        ul{
            list-style: none;
        }
    }    
    .servicios{
        background-color: $negro;
        text-align: center;
        color: $blanco;        
        border-radius: 5px;       
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h2{
        padding-top: 12px;
        padding-bottom: 5px;
        line-height: 16px;
    }
}
#servicios{
    background-image: url(../media/bck.png);
    background-size: cover;  

    img{
        border-radius: 5px;
        width: 100%;          
    }
    button{
        width: 50%;        
    }
    .productos{
        background-color: $blanco;
        border-radius: 5px;
        text-align: center;
        p{
            color: $negro;
            font-size: 14px;
        }      
        .productosBox{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        ul{
            list-style: none;
        }
    }    
    .servicios{
        background-color: $negro;
        text-align: center;
        color: $blanco;        
        border-radius: 5px;        
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h2{
        padding-top: 12px;
        padding-bottom: 5px;
        line-height: 16px;
    }

}
#productos{
    background-image: url(../media/bck.png);
    background-size: cover; 
  
    img{
        border-radius: 5px;
        width: 100%;              
    }   
    .productos{
        background-color: $blanco;
        border-radius: 5px;
        text-align: center;
        p{
            color: $negro;
            font-size: 14px;
        }      
        .productosBox{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        ul{
            list-style: none;
        }      
    }    
    .servicios{
        background-color: $negro;
        text-align: center;
        color: $blanco;        
        border-radius: 5px;        
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h2{
        padding-top: 12px;
        line-height: 16px;
    }
    button{
        height: 25px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-family: $poppins;
        font-weight: 600;    
    }
    a{
        text-decoration: none;
    }
    .modal-dialog{
        .modal-content{
            .modal-body{
                img{
                    width: 200px;
                }
            }
        }

    }
}

#distinciones{
    background-color: $blanco;    
    .card{
        border: none;    
        img{
            height: 60px;
            margin: 20px auto 0px auto;     
        }
        h4{
            font-family: $poppins;           
            font-weight: 700;
            font-size: 20px;
            text-align: center;
            line-height: 20px;
        }
        p{
            font-family: $poppins;
            color: $negro;
            font-size: 14px;
            text-align: center;
        }
    }
}
#comunicate{
    background-color: #E02220;
    img{
        width: 100%;
        border-radius: 5px;
        margin: 10px 0px;
    }   
}
#destacados{
    background-image: url(../media/bck.png);
    background-size: cover; 
    padding: 10px 0px;
    h4{
        font-family: $poppins;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
    }   
}
#nosotros{
    background-color: $rojo;
    padding-top: 10px;
    padding-bottom:10px;
    h1{
        font-family: $poppins;
        color: $blanco;
        font-size: 30px;
        font-weight: 200;
    }
    h2{
        font-family: $poppins;
        color: $blanco;
        font-size: 20px;
        font-weight: 600;
    }
    p{
        font-size: 14px;
        color: $blanco;
    }
    img{
        border-radius: 5px;
        width: 95%;
    }    
}
#box{
    background-color: $blanco;
    padding-top: 20px;
    padding-bottom: 20px;
}
#marcas{
    background-color: #FF3333;
    padding: 10px 0px;
    img{
        border-radius: 5px;
    } 
}
#mapa{    
    height: 450px;
}
footer{   
    background-color: #1d1e23;
    background-image: url(../media/footer-bg.png);
    h3{
        color: $blanco;
        font-family: $poppins;
        font-weight: 600;    
    }
    hr{
        background-color: $rojo;
        width: 200px;
        margin-left: 0%;
        
    }   
}

#contacto{
    background-color: $rojo;
    color: $blanco;
    img{
        border-radius: 5px;
    }
    p{
        font-size: 18px;
    }
}

#wa{
    a{
        img{
            width: 60px;
            position: fixed;
            bottom: 200px;
            right: 30px;
        }
    }
}

@mixin poppins ($size, $weight, $color){
    font-size: $size;
    font-weight: $weight;
    color: $color;    
}

.pf{
    @include poppins (12px, $regular ,$gris)
}
.tf{
    @include poppins (16px, $bold, $blanco)
}
.pfb{
    @include poppins (14px, $regular ,$blanco)
}


@media only screen and (max-width: 768px) {  
    .mxs{
        margin-top: 10px;
    }
    #industria{      
        .servicios{
            margin-top: 10px;            
        }
    } 
    #distinciones{
        background-color: $gris;    
        .card{
            border: none;    
            img{
                height: 60px;
                margin: 20px auto 0px auto;     
            }
            h4{
                font-family: $poppins;           
                font-weight: 700;
                font-size: 14px;
                text-align: center;
                line-height: 20px;
            }
            p{
                display: none;
            }
        }
    }    
}
